# dependencies
node_modules
.env
data
/server/log
/server/public/upload/avatar/*
/server/public/upload/linkicon/*
/server/public/upload/banner/*
/server/public/upload/siteImg/*
/server/public/upload/bangumi/*
/server/public/upload/gameCover/*
/server/public/upload/bookCover/*
/server/public/content/uploadfile/*
/server/public/admin/*
/server/public/up_works/*
/server/public/web_demo/*
/server/public/ucloudImg/*
/server/seo/sitemap/sitemap.xml
/server/seo/rss/*
/server/front/*
/server/config/globalConfig.json
/server/uploadCache/*
/server/utils/ip2location/*
/server/tools/backupFromEmlogJson/*
/server/cache/*
/server/backups/*
/blog/public/ads.txt
/blog/public/robots.txt