# dependencies
node_modules
.env
/server/log
/server/public/upload/avatar/*
/server/public/upload/linkicon/*
/server/public/upload/banner/*
/server/public/upload/logo/*
/server/public/content/uploadfile/*
/server/public/admin/*
/server/config/globalConfig.json
/server/uploadCache/*
/server/utils/ip2location/*
/server/tools/backupFromEmlogJson/*